
@{
    ViewBag.Title = "ItemManage";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<h2>ItemManage</h2>
<div>
   
    <div class="btn-group " style="min-width:300px">

        <p><a style="min-width:300px" class="btn btn-primary btn-lg" @Html.ActionLink("Add new Item", "AddItem", "Item")<span></span></a></p>
        <p><a style="min-width:300px" class="btn btn-primary btn-lg" @Html.ActionLink("Edit item details", "AddItem", "Item")<span></span></a></p>
        <p><a style="min-width:300px" class="btn btn-primary btn-lg" @Html.ActionLink("Delete item", "AddItem", "Item")<span></span></a></p>
    </div>


    
</div>
