@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Clothes Shop</h1>
    <p class="lead">Welcome to my Shop</p>
    <p><a href="https://asp.net" class="btn btn-primary btn-lg">Go to Shop &raquo;</a></p>
</div>

<div class="row">
    <div class="row">
        <h1>Hot sales</h1>
        <div class="col-md-4">
            <h2>First offert</h2>
            <select>
                <option value="volvo">Volvo</option>
                <option value="saab">Saab</option>
                <option value="mercedes">Mercedes</option>
                <option value="audi">Audi</option>
            </select>
        </div>
        <div class="col-md-4">
            <h2>Second offert</h2>
        </div>
        <div class="col-md-4">
            <h2>Third offert</h2>
        </div>
    </div>
</div>