<li>@Html.ActionLink("Item manage", "ItemManage", "Item", new { area = "" }, new { @class = "navbar-brand" })</li>
<li>@Html.ActionLink("Users account manage", "ItemManage", "Item", new { area = "" }, new { @class = "navbar-brand" })</li>
<li>@Html.ActionLink("Transactions", "ItemManage", "Item", new { area = "" }, new { @class = "navbar-brand" })</li>